
.map {
    position: relative;
    width: 80%;
    height: 500px;
    margin: 0 130px 0;
    border-style: solid;
    display: flex;
/* justify-content: center; */
    flex-direction: column;
    align-items: flex-end;
}

.legend-container {
  /* your legend styles here */
  margin-top: 10px; /* adjust the top margin */
}

.add_text2 {
  padding: 70px 0;
  text-align: left;
  border:3px solid green;
  text-indent: 30%;
}

.h4{
    text-align: center;
}
.legend {
    /* position: sticky; */
    background-color: none;
    /* border-color: #000000; */
    border-style: solid;
    border-radius: 3px;
    /* bottom: 70px; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #000000 ;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    /* position: fixed; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    /* margin: 0px 200px 40px; */
    

    /* text-align: center; */
}

.legend h4 {
    margin: 0 0 10px;
    /* padding-right: 50px; */
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    
}

.image {
  margin: 0 130px 0;
}

  
 
  
  
  /* Feature Overlay */
  .overlay-container{
    background-color: rgba(255, 255, 255, 0.7);
    width: 150px;
    color: #000000;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
    border-style: solid;
  }
  
  .overlay-container #feature-additional-info::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #fafafa transparent transparent transparent;
  }

  .navbar-brand {
    display: inline-block;
    float: none;
    font-size: 18px;
    height: 100%;
    padding: 0;
    vertical-align: middle;
  }


  .table, td, th {
    border: 1px solid black;
   
  tr td {
            width: 0%;
            white-space: nowrap;

        }
  }
  
  
  table {
    border-collapse: collapse;
    width: 60%;
  }
  
  td {
    text-align: left;
  }
  th {
    text-align: left;
  }
.add_text {
    width: 400px;
    padding: 40px;
  }
